<%- include('../partial/header.ejs') %>
    <main>
        <section class="section-change-password">
            <div class="container">
                <form action="/User/ChangePassword" method="post">
                    <div class="row">
                        <div class="col-10 ">
                            <div class="card text-center">
                                <h2>
                                    <i>Change Password</i>
                                </h2><br>
                                <div class="row mb-3">
                                    <label class="col-md-4" for="inputoldpassword">Old Password</label>
                                    <div class="col-md-8">
                                        <input type="password" class="form-control Cdetails" placeholder="Enter you new password" name="inputoldpassword" id="inputoldpassword" required>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label class="col-md-4" for=" inputpassword1 ">New Password</label>
                                    <div class="col-md-8">
                                        <input type="password" class=" form-control Cdetails " placeholder=" Enter you new password " name="inputpassword1" id="inputpassword1" required>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label class="col-md-4" for=" inputpassword2 ">Re-enter new Password</label>
                                    <div class=" col-md-8 ">
                                        <input type="password" class="form-control Cdetails" placeholder="Enter you new password" name="inputpassword2" id="inputpassword2" required>
                                    </div>
                                </div>
                                <br>
                                <div>
                                    <input type="submit" class="bttn" value="Change Password">
                                </div>
                                <br>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </main>
    <%- include('../partial/footer.ejs') %>