<%- include("../partial/header.ejs") %>
    <main class="bg">
        <section class="section-forget-password">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-md-6">
                        <div class="card carddesign">
                            <div class="card-body cardcont">
                                <div class="card-title">Forget Password</div>
                                <br>
                                <div class="card-text">
                                    <form action="/User/forgetpassword" method="post">
                                        <div class="row mb-3">
                                            <label class="col-sm-4" for="emailid">Email ID</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control Cdetails" placeholder="Enter you new password" name="emailid" id="emailid" required>
                                            </div>
                                        </div>
                                        <div class="col text-center">
                                            <button type="submit" class="btn-sm">Send</button>
                                        </div>
                                        <h6 style="margin-top: 1%;" class="card-subtitle mb-2 text-muted">New User? &nbsp;
                                            <a href="/User/Register">Register now</a>
                                        </h6>
                                        <h6 class="card-subtitle mb-2 text-muted">Log In? &nbsp;<a href="/User/LogIn">Log
                                                In</a>
                                        </h6>
                                        <% if ( error && error.length> 0 ) { %>
                                            <div class="alert alert-danger" role="alert">
                                                <%= error %>
                                            </div>
                                            <% } %>
                                                <% if ( success && success.length> 0 ) { %>
                                                    <div class="alert alert-info" role="alert">
                                                        <%= success %>
                                                    </div>
                                                    <% } %>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <%- include("../partial/footer.ejs") %>