<%- include("../partial/header.ejs") %>
    <main>
        <section>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6 ">
                        <img src="/Images/WhatsApp Image 2022-01-22 at 6.40.42 PM.jpeg" alt="Background_img" class="img-thankyou">
                    </div>
                    <div class="col-md-6">
                        <div class="text-center">
                            <h1 class="thankyou">T</h1>
                            <h1 class="thankyou">H</h1>
                            <h1 class="thankyou">A</h1>
                            <h1 class="thankyou">N</h1>
                            <h1 class="thankyou">K</h1>
                            <h1 class="thankyou">Y</h1>
                            <h1 class="thankyou">O</h1>
                            <h1 class="thankyou">U</h1>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <%- include("../partial/footer.ejs") %>