<%- include("./partial/header.ejs") %>
    <main>
        <section>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-4">
                        <img src="/Images/WhatsApp Image 2022-01-22 at 6.40.42 PM.jpeg" alt="">
                    </div>
                    <div class="col-8">
                        <h1 class="thankyou">T</h1>
                        <h1 class="thankyou">H</h1>
                        <h1 class="thankyou">A</h1>
                        <h1 class="thankyou">N</h1>
                        <h1 class="thankyou">K</h1>
                        <h1 class="thankyou">Y</h1>
                        <h1 class="thankyou">o</h1>
                        <h1 class="thankyou">U</h1>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <%- include("./partial/footer.ejs") %>