<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thanks for contacting</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
    <style>
        body {
            margin: 5% 10%;
            padding: 5% 5%;
        }
    </style>
</head>

<body>
    <h1>Thanks for getting in touch</h1>
    <br>
    <br>
    <h4>Dear
        <!-- <%= udata.uname %>, -->
    </h4>
    <br><br>
    <p>We have recieved your message and would like to thank you for writing to us. If your inquiry is urgent, please use Whats app Link to connect one of our staff members.</p>
    <br><br><br><br>
    <p>
        Otherwise, we will reply by email as soon as possible.
    </p>
    <br><br>
    <h6>Talk to you soon, APPA</h6>
    <br><br> © 2022, Appa
</body>

</html>