/* CSS for whatsapp */

.float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 100px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
}

.my-float {
    margin-top: 16px;
}


/* css logo roation  */

.coin {
    animation: animate 9s linear 10;
    animation-delay: 10s;
    animation-direction: alternate;
}

@keyframes animate {
    0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}


/* CSS for error 404 page */


/* CSS for error 404 page */

.eror {
    margin-top: 8%;
    margin-left: 41%;
}


/* CSS for Home Page */

.content {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: small;
    text-align: justify;
}

.image {
    width: 10vw;
    height: 23vh;
    border-radius: 40%;
    margin: -2em 0em 3em 3em;
}

.column {
    margin: 3rem 0rem 1rem 0rem;
}


/* CSS for footer */

.footer {
    background: #061D25;
    padding: 10px 0;
}

.footer a {
    color: #70726F;
    font-size: 20px;
    padding: 10px;
    border-right: 1px solid #70726F;
    transition: all .5s ease;
}

.footer a:first-child {
    border-left: 1px solid #70726F;
}

.footer p {
    margin-top: 2vh;
    color: white;
}

.footer a:hover {
    color: white;
}