@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@1,500&family=Josefin+Slab:wght@600&display=swap');

/* CSS for whatsapp */

.float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 100px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
}

.my-float {
    margin-top: 16px;
}


/* CSS for header anchor tag*/

.navbar-light .navbar-nav .nav-link {
    color: Black;
    font-size: 20px;
    transition: all .5s ease;
}

.nav-dropdown {
    margin-left: 44%;
}

.navbar-light .navbar-nav .nav-link.active {
    color: rgb(199, 35, 85);
    transition: all .5s ease;
}


/* css logo roation  */

.coin {
    animation: animate 9s linear 10;
    animation-delay: 10s;
    animation-direction: alternate;
}

@keyframes animate {
    0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}


/* CSS for error 404 page */

.eror {
    margin-top: 8%;
    margin-left: 41%;
}

.bttn {
    font-family: 'Josefin Slab', serif;
    color: darkgreen;
    border-radius: 1em;
    font-size: 99%;
    border: 2px solid gold;
    background-color: lavender;
    border: outset;
    margin: 2%;
    font-style: oblique;
    padding: 0.2rem 0.4rem;
    cursor: pointer;
    /* margin-bottom: 5%; */
}

.btn-sm {
    border: 3px outset lemonchiffon;
    width: 10vw;
    background-color: white;
    font-size: 50%;
}

.btn-sm:hover {
    border: 3px inset darkgreen;
    font-weight: bold;
    background-color: white;
    font-size: 50%;
}

.bttn a:link {
    color: darkgreen;
    text-decoration: none;
    font-size: 99%;
}

.bttn a:visited {
    color: darkgreen;
    text-decoration: none;
    font-size: 99%;
}

.bttn:hover {
    color: lavender;
    background-color: darkgreen;
    border-color: gold;
    font-size: 99%;
}

.bttn a:hover {
    color: lavender;
    background-color: darkgreen;
    border-color: gold;
    font-size: 99%;
}

.bttn :hover {
    color: lavender;
    background-color: darkgreen;
    border-color: gold;
    font-size: 99;
}


/* CSS for Home Page */

.content {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: small;
    text-align: justify;
}

.image {
    width: 10vw;
    height: 23vh;
    border-radius: 40%;
    margin: -2em 0em 3em 3em;
}

.justify {
    text-align: justify;
}

.column {
    margin: 3rem 0rem 1rem 0rem;
}


/* contact us form start */

.Cdetails {
    font-size: 17px;
    font-family: "Times New Roman", Times, serif;
    font-style: normal;
    font-weight: 400;
    color: #050505;
    line-height: 1.5;
}

.Cdetails div input {
    border: solid black 1.5px;
}

.Cdetails div textarea {
    border: solid black 1.5px;
}


/* contact us form end */


/* CSS for whatsapp */

.float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 100px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
}

.my-float {
    margin-top: 16px;
}


/* css logo roation  */

.coin {
    animation: animate 9s linear 10;
    animation-delay: 10s;
    animation-direction: alternate;
}

@keyframes animate {
    0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}


/* CSS for error 404 page */

.eror {
    margin-top: 8%;
    margin-left: 41%;
}

.btn-sm {
    border: 3px outset lemonchiffon;
    width: 10vw;
    background-color: white;
    font-size: medium;
}

.btn-sm:hover {
    font-size: medium;
    border: 3px inset darkgreen;
    font-weight: bold;
    background-color: white;
}


/* CSS for Home Page */

.content {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: small;
    text-align: justify;
}

.image {
    width: 10vw;
    height: 23vh;
    border-radius: 40%;
    margin: -2em 0em 3em 3em;
}

.column {
    margin: 3rem 0rem 1rem 0rem;
}


/* CSS for footer */

.footer {
    background: #061D25;
    padding: 10px 0;
}

.footer a {
    color: #70726F;
    font-size: 20px;
    padding: 10px;
    border-right: 1px solid #70726F;
    transition: all .5s ease;
}

.footer a:first-child {
    border-left: 1px solid #70726F;
}

.footer p {
    margin-top: 2vh;
    color: white;
}

.footer a:hover {
    color: white;
}


/* contact us form start */

.Cdetails {
    font-size: 17px;
    font-family: "Times New Roman", Times, serif;
    font-style: normal;
    font-weight: 400;
    color: #050505;
    line-height: 1.5;
}

.Cdetails div input {
    border: solid black 1.5px;
}

.Cdetails div textarea {
    border: solid black 1.5px;
}


/* contact us form end */


/*css for about us (starting)*/

.heading {
    text-align: center;
    color: white;
    padding-top: 1.5%;
    font-size: 300%;
    font-weight: bold;
    text-shadow: black 2px 2px 10px;
}

.card-text {
    font-size: medium;
}

.card {
    margin: 5% 17%;
    box-shadow: 0 4px 8px 0;
    width: 70%;
    padding: 1%;
    /* height: 85%; */
    border-radius: 2rem 2rem 2rem 2rem;
    border-color: orange;
}

.card-shadow:hover {
    box-shadow: 0rem 0.5rem 3rem 0rem goldenrod;
}

.subbg {
    margin-top: -3.5%;
    margin-bottom: 7%;
    margin-left: 20%;
    margin-right: 15%;
    background-image: url('/Images/whitebg.jpg');
    width: 55%;
    border-radius: 20%;
    box-shadow: 20px 20px 50px 15px grey;
}

.card-body {
    text-align: center;
    font-size: larger;
    color: brown;
    font-weight: bold;
    padding: 4rem 1rem;
    border-color: black;
}

.card-img-top {
    margin-bottom: -3rem;
    border-radius: 2rem 2rem 0rem 0rem;
}

.topbg {
    background-image: url('/Images/diya.jpeg');
    height: 40vh;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    padding: 2%;
    background-position: 20% 20%;
}

.text {
    color: mediumvioletred;
    font-size: 3.5em;
    font-weight: bold;
    text-shadow: 2px 2px 7px black;
    text-align: center;
}

.display {
    display: flex;
}

.textadjust {
    margin-left: 5%;
}

.para {
    font-size: large;
    text-shadow: black 2px 2px 8px;
    /* padding: 2vw; */
    padding: 7%;
}

.para-r,
.para-l {
    text-align: justify;
}

.midimg {
    padding: 1%;
    height: 77%;
    margin-top: 10%;
    width: 100%;
    border: 5px solid black;
}


/*css for about us (ending)*/


/* Thank you page's CSS */

.img-thankyou {
    width: 42vw;
    margin: 5em 2em 5em 2em;
    border-radius: 5.5rem;
}

.margin-thankyou {
    margin-top: 15em;
    margin-left: 14em;
    margin-bottom: 3em;
}

.text-center {
    margin-top: 2%;
}

.thankyou {
    display: inline;
    font-family: 'EB Garamond', serif;
    border: 1px solid black;
    padding: 0.2em;
    border-radius: 1.1em;
}


/* nav icon media query */

@media screen and (min-width: 992px) {
    .nav-icon1 {
        visibility: hidden;
        align-content: center;
        padding-left: 17%;
        padding-right: 14%;
    }
    .navbar-collapse {
        margin-left: -70%;
    }
    .margin-thankyou {
        margin-top: 10em;
        margin-top: 0em;
        margin-left: 4em;
    }
}

@media screen and (max-width:322px) {
    .coin {
        margin-left: 117%;
    }
}

@media screen and (max-width: 991px) {
    .nav-icon2 {
        visibility: hidden;
    }
    .nav-icon1 {
        visibility: visible;
    }
    #aboutus_message {
        visibility: hidden;
        clear: both;
        float: left;
        margin: 10px auto 5px 20px;
        width: 28%;
        display: none;
    }
    .midimg {
        padding-left: 2vw;
    }
    .nav-dropdown {
        display: inline-block;
        position: relative;
    }
    .nav-dropdown-content {
        position: relative;
        top: 70px;
        left: 150px;
    }
}

.bg {
    background-image: url("/Images/ganesha-right.jpg");
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
}


/* Product Image */

.img-product {
    width: 132%;
    border-radius: 18px;
    margin-top: 10%;
}


/* CSS for change password */

.card-changepassword {
    margin-left: 25%;
}


/* Section class */

.section-padding {
    padding: 5%;
}

.section-login {
    padding: 2rem;
    padding-right: 0rem;
    padding-left: 0rem;
}

.section-register {
    padding: 2rem;
    padding-right: 0rem;
    padding-left: 0rem;
}

.section-forget-password {
    padding: 13rem;
    padding-right: 0rem;
    padding-left: 0rem;
}

.section-userpage {
    padding: 2rem;
    padding-left: 0rem;
    padding-right: 0rem rem;
}

.section-change-password {
    padding: 2rem;
    padding-right: 0rem;
    padding-left: 1rem;
}

.section-admin-header {
    margin-left: 2%;
}


/* Section CSS end here */


/*Open sidebar css starts*/

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar a {
    padding: 0.2rem;
    text-decoration: none;
    font-size: 1rem;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover {
    background-color: #444;
}


/* CSS of Sidebar end here */


/* stat rating  start*/

.stars-container {
    position: relative;
    display: inline-block;
    color: transparent;
}

.stars-container:before {
    position: absolute;
    top: 0;
    left: 0;
    content: '★★★★★';
    color: lightgray;
}

.stars-container:after {
    position: absolute;
    top: 0;
    left: 0;
    content: '★★★★★';
    color: gold;
    overflow: hidden;
}

.stars-0:after {
    width: 0%;
}

.stars-10:after {
    width: 10%;
}

.stars-20:after {
    width: 20%;
}

.stars-30:after {
    width: 30%;
}

.stars-40:after {
    width: 40%;
}

.stars-50:after {
    width: 50%;
}

.stars-60:after {
    width: 60%;
}

.stars-70:after {
    width: 70%;
}

.stars-80:after {
    width: 80%;
}

.stars-90:after {
    width: 90%;
}

.stars-100:after {
    width: 100;
}


/* stat rating  End*/

.counter {
    width: 150px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.counter input {
    width: 50px;
    border: 0;
    line-height: 30px;
    font-size: 20px;
    text-align: center;
    background: #0052cc;
    color: #fff;
    appearance: none;
    outline: 0;
}

.counter span {
    display: block;
    font-size: 25px;
    padding: 0 10px;
    cursor: pointer;
    color: #0052cc;
    user-select: none;
}