<%- include("../partial/header.ejs") %>

    <main>
        <section>
            <div class="container-fluid">
                <b5-row>
                    <div class="col-12">
                        <img class="w-100" src="/Images/404error.jpg" alt="page not found " />
                    </div>
                </b5-row>
            </div>
        </section>
    </main>



    <%- include("../partial/footer.ejs") %>