<%- include("../partial/header.ejs") %>
    <div class="containter">
        <div class="row">
            <div class="col ">
                <div class="topbg">
                    <div class="heading">
                        <p>Return Refunds & Cancellation</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col ">
                    <div class="container ">
                        <div class="card">
                            <div class="card-body " style="font-weight: normal;">
                                <div class="main">
                                    <div class="bs-static">
                                        <div class="container">
                                            <h2 class="page-title">Customer’s Refund &amp; Cancellations</h2>
                                            <div class="sec">
                                                <p>Customers cannot cancel their Order (or any product therein) and the same can only be cancelled by the Merchant if they are unable to serve the Customer for any reason (including but not limited to unavailability
                                                    of the products/items).</p>
                                                <p>In certain cases (including but not limited to selling illegal products/items), Dotpe shall have the right to cancel the Orders (or any product therein).</p>
                                            </div>
                                            <div class="sec">
                                                <h3 class="title">Cancellation or Rejection of the Order / Items</h3>
                                                <p>For pre-paid Orders, in the event of any cancellation or rejection of the Order or any particular item(s) in the Order by Dotpe or Merchant, due to any reason (including but not limited to unavailability),
                                                    the amount equivalent to the price of the cancelled or rejected Order/item along with the applicable GST amount will be refunded to the Customer, which amount will normally be credited within 3-5 business
                                                    days from the date of cancellation/rejection.</p>
                                            </div>
                                            <div class="sec">
                                                <h3 class="title">If amount is debited however Order is not successful</h3>
                                                <p>For pre-paid Orders, if the amount for an Order / item therein is debited from the Customer’s account/card however the Order is not successful, then the concerned amount along with the applicable GST amount
                                                    will be refunded to the Customer, which amount will normally be credited within 3-5 business days from the payment date.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include("../partial/footer.ejs") %>