<%- include("../partial/header.ejs") %>
    <div class="containter">
        <div class="row">
            <div class="col ">
                <div class="topbg">
                    <div class="heading">
                        <p>Return Refunds & Cancellation</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col ">
                    <div class="container ">
                        <div class="card">
                            <div class="card-body " style="font-weight: normal;">
                                <div class="main">
                                    <div class="bs-static">
                                        <div class="container">
                                            <h2 class="page-title">Customer’s Terms &amp; Conditions</h2>
                                            <div class="sec">
                                                <p>Dotpe Private Limited (“Dotpe” or “we” or “our”) is a private limited company incorporated under the provisions of Companies Act, 2013. </p>
                                                <p>Dotpe is engaged in the business of providing digital solutions through web/QR/WhatsApp based digital platform(s) (“Dotpe Platform”) which enable the merchants to connect to their customers inter alia by
                                                    way of integration of social media platforms, in store ordering &amp; billing system, bank/payment gateways and delivery partners (“Dotpe Services”).</p>
                                                <p>Dotpe is a B2B and B2C company providing technology solutions through the Dotpe Platform, to various business(es) and to the end customers as well. It is hereby clarified that Dotpe is only a technology
                                                    provider/intermediary/ecommerce facilitator and that Dotpe is not performing any activity/job or providing services which may tantamount to it being a seller, retailer, stockiest and/or distributor.</p>
                                                <p>Dotpe has developed an exclusive URL (“Dotpe URL”) for each of the merchant listed/registered with Dotpe (“Merchant”) in order to provide Dotpe Services to the customers of the Merchant / user of the Dotpe
                                                    URL (“Customer” or “you” or “your”). Further, Dotpe has developed a mobile application namely ‘Digital Showroom App’ for assisting the Merchant(s) inter-alia with respect to registration process with
                                                    Dotpe and processing of Customer’s orders through the Dotpe URL.</p>
                                                <p>These terms and conditions (“T&amp;Cs”) shall govern use of the Dotpe URL (and Digital Showroom App) by the Customers; accordingly, please read these T&amp;Cs carefully before accessing or using the Dotpe
                                                    URL. Customers are also advised to read the Merchant's Terms &amp; Conditions before accessing the Dotpe URL (and Digital Showroom App). If you do not agree to these T&amp;Cs and/or Merchant's Terms
                                                    &amp; Conditions, you shall not use the Dotpe URL (and Digital Showroom App). By using the Dotpe URL and/or Digital Showroom App, you signify your unconditional acceptance to these T&amp;Cs and other
                                                    Dotpe policies (as framed by Dotpe from time to time).</p>
                                            </div>
                                            <div class="sec">
                                                <h3 class="title">Ordering</h3>
                                                <p>Dotpe URL enable the Customers to place order for / purchase products of the Merchant (“Order”) by getting access to the products offered/available with the Merchant. Merchant shall be solely liable for
                                                    quality, efficiency, availability and merchantability of its products and services - Dotpe shall not be responsible for these aspects.</p>
                                            </div>

                                            <div class="sec">
                                                <h3 class="title">Self pick-up / Delivery</h3>
                                                <p>Customers have the option of self pick-up of the Orders from the Merchant’s store, or getting the Order delivered to their address provided by them on the Dotpe URL.</p>

                                                <p>Please note that delivery of the Orders is done by the Merchant himself (or through a third party), hence the Merchant shall be solely liable and responsible in relation to delivery of the Orders to the
                                                    Customers. </p>
                                                <p>Dotpe does not provide delivery services, hence shall not be liable and responsible in relation to the delivery of the Orders to the Customers.</p>
                                                <p>All disputes in relation to the delivery/non-delivery of Orders shall be directly raised and settled by the Customers with the Merchant, without the intervention of Dotpe.</p>
                                            </div>

                                            <div class="sec">
                                                <h3 class="title">Pricing</h3>
                                                <p>Products listed on the Dotpe URL will be sold at MRP, unless otherwise specified.</p>
                                                <p>Typically, the price mentioned at the time of ordering will be the charged on the date of the delivery.</p>
                                                <p>However, prices of certain products/items may differ on the date of actual delivery. Accordingly, in case the prices are higher or lower on the date of delivery – the differential amount will be paid to
                                                    or collected from the Customer (as the case may be).</p>
                                                <p>Prices shown are mentioned by the merchant/seller. Merchant shall communicate if any additional taxes, duties, levies and alike charges are applicable (in case the prices are not tax inclusive) upon confirmation
                                                    of order. Customer shall solely be responsible for payment of all applicable levies, duties, taxes and alike charges in relation to the products and services. This includes and is not limited to payment
                                                    of GST.</p>
                                            </div>
                                            <div class="sec">
                                                <h3 class="title">Rewards</h3>
                                                <p>Dotpe may, in its sole discretion, provide rewards/cashbacks to any or all Customers as per its internal policies.</p>
                                                <p>All aspects/policies pertaining to the aforesaid rewards/cashbacks (including but not limited to introduction, amount, criteria, mode, modification, payment and withdrawal) shall be solely decided by Dotpe.
                                                    In case of any abuse, misuse or fraud by the Customers with respect to rewards/cashbacks, Dotpe shall have the right to hold and/or adjust the payment of the Customers.</p>
                                            </div>
                                            <div class="sec">
                                                <h3 class="title">Discounts</h3>
                                                <p>Dotpe may, in its sole discretion, provide discounts to any or all Customers as per its internal policies.</p>
                                                <p>All aspects pertaining to the aforesaid discounts (including but not limited to discount , amount, criteria, mode, modification and withdrawal) shall be decided by Dotpe.</p>
                                            </div>
                                            <div class="sec">
                                                <h3 class="title">Payment by the Customers</h3>
                                                <p>Customers shall have the option to make payment for their Orders on the Dotpe URL (through various available modes viz. credit card, debit card and UPI) or through cash on delivery mode directly to the Merchant.
                                                    These payment modes will be decided and modified by Dotpe from time to time. Dotpe has the right to use only selective payment methods. As a consideration for rendering the Dotpe Services, Dotpe may
                                                    charge/be paid by the Customers, the fees / Per Transaction Fixed Charge (PTFC) / Payment Service Charge per transaction (PSC), as decided and informed by Dotpe from time to time.</p>
                                            </div>
                                            <div class="sec">
                                                <h3 class="title">Cancellation</h3>
                                                <p>Customers cannot cancel their Order (or any product therein) and the same can only be cancelled by the Merchant if they are unable to serve the Customer for any reason (including but not limited to unavailability
                                                    of the products/items).</p>
                                                <p>In certain cases (including but not limited to selling illegal products/items), Dotpe shall have the right to cancel the Orders (or any product therein).</p>
                                            </div>
                                            <div class="sec">
                                                <h3 class="title">Cancellation or Rejection of the Order / Items</h3>
                                                <p>For pre-paid Orders, in the event of any cancellation or rejection of the Order or any particular item(s) in the Order by Dotpe or Merchant, due to any reason (including but not limited to unavailability),
                                                    the amount equivalent to the price of the cancelled or rejected Order/item along with the applicable GST amount will be refunded to the Customer, which amount will normally be credited within 3-5 business
                                                    days from the date of cancellation/rejection.</p>
                                            </div>
                                            <div class="sec">
                                                <h3 class="title">If amount is debited however Order is not successful</h3>
                                                <p>For pre-paid Orders, if the amount for an Order / item therein is debited from the Customer’s account/card however the Order is not successful, then the concerned amount along with the applicable GST amount
                                                    will be refunded to the Customer, which amount will normally be credited within 3-5 business days from the payment date.</p>
                                            </div>
                                            <div class="sec">
                                                <h3 class="title">Limit / Restrictions on Orders</h3>
                                                <p>Dotpe and/or Merchant reserves the right to put necessary limits / restrictions on the Orders, including but not limited to limit on number of Orders by a particular Customer and minimum &amp; maximum value
                                                    of the Orders.</p>
                                            </div>
                                            <div class="sec">
                                                <h3 class="title">Dotpe’s Limited Liability &amp; Disclaimer</h3>
                                                <p>Dotpe does not provide or make any representation, warranty or guaranty, express or implied, about the Dotpe Services, Dotpe Platform and Dotpe URL, and to the fullest extent permitted by law disclaims all
                                                    liability arising out of the Customer’s use or reliance upon the same.
                                                </p>
                                                <p>In addition to other limitations and exclusions in these T&amp;Cs, in no event shall Dotpe, its directors, officers, employees, agents or other representatives be liable for any direct, indirect, special,
                                                    incidental, consequential, or punitive damages, or any other damages of any kind, arising out of or related to Dotpe Services, Dotpe Platform and Dotpe URL.
                                                </p>
                                                <p>Dotpe shall not be liable to the Customers for any product(s) or service(s) provided by the Merchant, or any liability in relation thereto. All claims pertaining to the same shall be made directly against
                                                    the Merchant.
                                                </p>
                                                <p>Dotpe neither makes any representation or warranty as to specifics (such as quality, value, salability, merchantability, etc.) of the product(s) or service(s) sold or offered to be sold or purchased on the
                                                    Dotpe URL, nor does it implicitly or explicitly support or endorse the sale or purchase of any product(s) or service(s) on the Dotpe URL.</p>
                                                <p>Dotpe accepts no liability for any error, omission, breach or non-performance, whether on behalf of itself or third parties (including the Merchant).</p>
                                                <p>Any contract for sale of any product(s) or service(s) on Dotpe applications/URL shall strictly be a bipartite contract between the Merchant and Customer. Merchant shall solely be responsible for order fulfilment,
                                                    sale, efficacy, quality, quantity, merchantability, delivery and all other issues. Dotpe shall not be responsible for any such aspects/issues and for any loss/damage in relation thereto, and in case
                                                    of complaints from the Customer pertaining to such aspects/issues, Dotpe shall notify the complaints to the Merchant. The Merchant shall be liable for redressing Customer’s complaints at the earliest.
                                                    Dotpe shall not be liable in case Merchant does not satisfactorily address said complaints. Customers shall have the right to initiate appropriate legal action against the Merchant.</p>
                                                <p>It is hereby clarified that Dotpe is only a technology provider / intermediary / ecommerce facilitator and that Dotpe is not performing any activity/job or providing services which may tantamount to it being
                                                    a seller, retailer, stockiest and/or distributor. Dotpe has no role and responsibility in the actual sale, delivery or fulfilment of the Orders, and Dotpe only provides a platform for facilitating Orders.
                                                    Further, Dotpe shall also not be responsible for any payment related issues at Merchant’s or Customer’s end (including but not limited to chargeback or refund related issues).</p>
                                                <p>Details of the items, products, menu, price list, etc. available on the Dotpe URL are based on the information provided by the Merchant, and Dotpe shall not be responsible for any change or cancellation
                                                    or unavailability.</p>
                                                <p>In addition to the above terms, the terms and conditions of the Merchant (if any) shall also be applicable in relation to the transactions specified in these T&amp;Cs.</p>
                                            </div>
                                            <div class="sec">
                                                <h3 class="title">Privacy / Data Protection</h3>
                                                <p>In the process of placing the Order, Dotpe may collect certain personally identifiable information about the Customer such as name, email address, mobile phone number and contact details. Dotpe is committed
                                                    to protect the personal information of the Customers and to take all reasonable precautions for maintaining confidentiality of the Customer’s personal information.</p>
                                                <p>Dotpe has adopted reasonable security practices and procedures that are commensurate with the information assets being protected and with the nature of our business and to include, technical, operational,
                                                    managerial and physical security control measures so as to protect the personal information in its possession from loss, misuse and unauthorized access, disclosure, alteration and destruction.</p>
                                                <p>In this regard, Dotpe has framed a privacy policy (“Privacy Policy”) which applies to the users of the Dotpe URL and other Dotpe platforms. This Privacy Policy has been published in accordance with the (Indian)
                                                    Information Technology Act, 2000 and the rules/regulations framed thereunder, including the (Indian) Information Technology (Reasonable Security Practices and Procedures and Sensitive Personal Data or
                                                    Information) Rules, 2011, and is available on https://dotpe.in/privacy-policy.html.
                                                </p>
                                                <p>Privacy Policy has been designed and developed to help to provide for the following:</p>
                                                <p>
                                                </p>
                                                <ul>
                                                    <li>The type of personal information (including sensitive personal data or information) that we collect from the users;</li>
                                                    <li>The purpose of collection, means and modes of usage of such personal information by Dotpe;</li>
                                                    <li>How Dotpe will protect the personal information including sensitive personal data or information that is collected from the users; and</li>
                                                    <li>How and to whom Dotpe will disclose such information;</li>
                                                    <li>How users may access and/or modify their personal information.</li>
                                                </ul>
                                                <p></p>
                                                <p>Dotpe reserves the right to use the personal information provided by the Customers as per the terms of the Privacy Policy inter-alia for processing the Customer’s orders and for improvement of services,
                                                    features and functionality of the Dotpe Platform.</p>
                                                <p>Customer fully understands that usage of the Dotpe applications by the Customers may create or generate database. All rights and ownership with respect to such database and information therein shall vest
                                                    with Dotpe. Dotpe shall have the right to inter-alia use such Customer information/database for the purposes of research, analysis, business intelligence and improvement/development/advancement of Dotpe
                                                    applications.
                                                </p>
                                                <p>Any conversations / correspondences between the Merchant and Customer (including any WhatsApp conversations) shall be considered as private, and Dotpe shall not deemed to be a party to such conversations
                                                    / correspondences.</p>
                                            </div>
                                            <div class="sec">
                                                <h3 class="title">MISCELLANEOUS</h3>
                                                <p>Limited Sub-License: Dotpe grants you a limited sub-license to access and make personal use of the Dotpe URL and not to download (other than page caching) or modify it, or any portion of it, except with
                                                    express written consent of Dotpe. This license does not include any resale or commercial use of Dotpe URL or its contents; any collection and use of any product listings, descriptions, or prices; any
                                                    derivative use of Dotpe URL or its contents; any downloading or copying of account information for the benefit of another merchant; or any use of data mining, robots, or similar data gathering and extraction
                                                    tools. Dotpe URL or any portion thereof shall not be reproduced, duplicated, copied, sold, resold, visited, or otherwise exploited for any commercial purpose without express written consent of Dotpe.
                                                    It is hereby clarified that Dotpe shall not be responsible for any copyright or intellectual property issue in relation to the suggested product images (as available on the Dotpe applications) and in
                                                    relation to the product images uploaded by the Merchant.</p>
                                                <p>Eligibility: Services of the Dotpe URL will be available to only in select geographies in India. Persons who are “incompetent to contract” within the meaning of the Indian Contract Act, 1872 including un-discharged
                                                    insolvents etc. are not eligible to use the Dotpe URL. If you are a minor, you may use the Dotpe URL only under the supervision of a parent or legal guardian who agrees to be bound by these T&amp;Cs.</p>
                                                <p>Indemnification: You agree to defend, indemnify and hold harmless Dotpe, its employees, directors, officers, agents and their successors and assigns from and against any and all claims, liabilities, damages,
                                                    losses, costs and expenses, including attorney's fees, which may result in any loss, damage or liability to Dotpe, Merchant or to any third party, on account of (including but not limited to) breach
                                                    of any warranties, representations or undertakings, or in relation to the nonfulfillment of any of your obligations under these T&amp;Cs, or arising out of your violation of any applicable laws, regulations.
                                                </p>
                                                <p>Electronic Record: This document is an electronic record in terms of Information Technology Act, 2000 and the rules made thereunder, as applicable and as amended from time to time. </p>
                                                <p>Modification: Dotpe reserves the right to modify or change these T&amp;Cs and other Dotpe policies at any time by posting changes on the Dotpe URL/website, and you shall be liable to update yourself of such
                                                    changes. Your continued usage of the services after any change is posted constitutes your acceptance of the amended T&amp;Cs/policies.</p>
                                                <p>Termination: Dotpe may terminate this agreement / T&amp;Cs at any time and may do so immediately without notice, and accordingly deny you access to the Dotpe URL. Any such termination will be without any
                                                    liability to Dotpe.</p>
                                                <p>Severability: If any of the provisions of these T&amp;Cs should be determined to be illegal, invalid or otherwise unenforceable by reason of the laws of any state or country in which these T&amp;Cs are intended
                                                    to be effective, then to the extent and within the jurisdiction where that term is illegal, invalid or unenforceable, it shall be severed and deleted and the remaining T&amp;Cs shall survive, remain
                                                    in full force and effect and continue to be binding and enforceable.</p>
                                                <p>Governing Law and Jurisdiction: Without prejudice to the above, these terms and conditions shall be construed in accordance with the applicable laws of India, and the Courts at Gurgaon, Haryana shall have
                                                    exclusive jurisdiction in any proceedings arising out of these terms and conditions/between Dotpe and the Customer.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include("../partial/footer.ejs") %>