<%- include("../partial/header.ejs") %>

    <main>
        <section>
            <div class="container-fluid">
                <b5-row>
                    <div class="col-12">
                        <form action="">
                            <div class="mb-3">
                                <label for="formGroupExampleInput" class="form-label">Example label</label>
                                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input placeholder">
                            </div>
                            <div class="mb-3">
                                <label for="" class="form-label">Password</label>
                                <input type="text" class="form-control" id="" placeholder="Password">
                            </div>
                            <div class="col-12 req anchorformat">
                                <a href="/user/signup ">Sign up?</a>
                                <a href="# " target="_blank ">Forget Password?</a>
                                <a href="# " target="_blank ">Need Help?</a>
                            </div>
                        </form>
                    </div>
                </b5-row>
            </div>
        </section>
    </main>



    <%- include("../partial/footer.ejs") %>