<%- include("../partial/header.ejs") %>
    <main class="bgr">
        <section>
            <div class="container-fluid col">

                <div class="row ">

                    <div class="col-12 col-md-6 ">
                        <div class="cardadjust">
                            <div class="card carddesign">
                                <div class="card-body cardcont">
                                    <h5 class="card-title">Log In</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">New User? &nbsp;<a href="/User/Register">Register now</a></h6>
                                    <p class="card-text">
                                        <form method="post">
                                            <div>
                                                <label for="emailid">Email ID:</label>
                                                <input type="email" class="form-control col" id="uemail" placeholder="@gmail.com" required>
                                            </div>
                                            <div>
                                                <label for="pass">Password:</label>
                                                <<<<<<< HEAD <input type="password" class="form-control col" id="upass" placeholder="At least 6 characters" size="20" required>
                                            </div>
                                            <br> =======
                                            <input type="password" class="form-control col" id="upass" placeholder="At least 6 characters" required>
                                </div>
                                >>>>>>> 4d691b740dfb27da26d18c27911fae99f0035055
                                <br>
                                <div>
                                    <a href="/User/Signup" class=" btn buttondisp">Sign Up</a>
                                </div>
                                </form>

                                </p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            </div>
        </section>
    </main>
    <%- include("../partial/footer.ejs") %>