<%- include("../partial/header.ejs") %>

    <main class="bg">
        <section>
            <div class="container-fluid ">
                <div class="row ">
                    <div class="col-12 col-md-6 ">
                        <div class="cardadjust">
                            <div class="card carddesign">
                                <div class="card-body cardcont">
                                    <h5 class="card-title">Register</h5>
                                    <div class="card-text"><br>
                                        <form action="/User/Signup" method="post">
                                            <div class="row">
                                                <div class="col-12 col-lg-6">
                                                    <label for="Ufname" class="col-md-12 col-form-label"> <b>First Name
                                                        </b></label>
                                                    <div class="col-md-12">
                                                        <input type="text" class="form-control Cdetails" id="Ufname" name="Ufname" placeholder="First Name" required>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-lg-6">
                                                    <label for="Ulname" class="col-md-12 col-form-label"> <b>Last Name
                                                        </b></label>
                                                    <div class="col-md-12">
                                                        <input type="text" class="form-control Cdetails" id="Ulname" name="Ulname" placeholder="Last Name" required>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-lg-6">
                                                    <label for="Uemail" class="col-md-12 col-form-label"> <b>Email
                                                        </b></label>
                                                    <div class="col-md-12">
                                                        <input type="email" class="form-control Cdetails" id="Uemail" name="Uemail" placeholder="name@example.com" required>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-lg-6">
                                                    <label for="Uphone" class="col-sm-5 col-form-label"> <b>Phone
                                                        </b></label>
                                                    <div class="col-md-12">
                                                        <input type="text" class="form-control Cdetails" id="Uphone" name="Uphone" placeholder="8888888888" required>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-lg-6">
                                                    <label for="Upass" class="col-md-12 col-form-label"> <b>Password
                                                        </b></label>
                                                    <div class="col-md-12">
                                                        <input type="password" class="form-control Cdetails" id="Upass" name="Upass" placeholder="Password" required>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-lg-6">
                                                    <label for="Upass1" class="col-md-12 col-form-label"> <b>Confirm
                                                            Password
                                                        </b></label>
                                                    <div class="col-md-12">
                                                        <input type="password" class="form-control Cdetails" id="Upass1" name="Upass1" placeholder="Confirm Password" required>
                                                        <span id="message" style="color: red;"></span>
                                                    </div>
                                                </div>
                                                <div class="col text-center">
                                                    <!-- <input type="submit" class="btn-sm" value="Send"> -->
                                                    <button type="submit" class="bttn" onclick="match()">Register</button>
                                                    <br>
                                                </div>
                                            </div>
                                        </form>
                                        <br>
                                        <h6 class="card-subtitle mb-2 text-muted">Exciting User? &nbsp;<a href="/User/LogIn">Log In</a></h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <%- include("../partial/footer.ejs") %>