<%- inlcude(../partial/header.ejs) %>
    <main class="userprofile-body">
        <section>
            <div class="container-fluid">
                <br>
                <a href="/"><button class="btn-sm">Back</button></a>
                <a href=""><button class="btn-sm">Update</button></a>
            </div>
            <div class="container card user-profile">
                <form class="row g-3">
                    <div class="container-fluid profileheading">
                        <h2>
                            <center>
                                <i>PROFILE</i>
                            </center>
                        </h2>
                    </div>
                    <div class="col-md-12">
                        <label for="inputEmail4" class="form-label">Name</label>
                        <input type="email" class="form-control" id="inputEmail4">
                    </div>
                    <div class="col-md-6">
                        <label for="inputEmail4" class="form-label">Email</label>
                        <input type="email" class="form-control" id="inputEmail4" disabled>
                    </div>
                    <div class="col-md-6">
                        <label for="inputcontact" class="form-label">Contact No</label>
                        <input type="text" class="form-control" id="inputcontact">
                    </div>
                    <div class="col-12">
                        <label for="inputAddress" class="form-label">Address</label>
                        <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                    </div>
                    <div class="col-md-6">
                        <label for="inputCity" class="form-label">City</label>
                        <input type="text" class="form-control" id="inputCity">
                    </div>
                    <div class="col-md-4">
                        <label for="inputState" class="form-label">State</label>
                        <select id="inputState" class="form-select">
                            <option selected>Choose...</option>
                            <option>...</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <label for="inputZip" class="form-label">Zip</label>
                        <input type="text" class="form-control" id="inputZip">
                    </div>
                </form>
            </div>
        </section>
    </main>
    <%- inlcude(../partial/footer.ejs) %>