<%- include("../partial/header.ejs") %>
    <main>
        <section>
            <div class="container card ">
                <form class="row g-3">
                    <div class="container-fluid ">
                        <h2>
                            <center>
                                <i>About Me</i>
                            </center>
                        </h2>
                    </div>
                    <div class="col-md-12">
                        <label for="Uname" class="form-label">Name:- Shekhar Kundra </label>
                    </div>
                    <div class="col-md-6">
                        <label for="Uemail" class="form-label">Email:- shekhar kundra</label>
                    </div>
                    <div class="col-md-6">
                        <label for="inputcontact" class="form-label">Contact No:- 9811945176</label>
                    </div>
                    <div class="col-12">
                        <label for="inputHopuseNumber" class="form-label">Address</label>
                        <p>9811945176</p>
                        <p>9811945176</p>
                        <p>9811945176</p>
                        <p>9811945176</p>
                        <p>9811945176</p>
                    </div>
                    <div class="col-12 text-center">
                        <a href="/User/Edit" class="btn btn-sm">Edit</a>
                    </div>
                </form>
            </div>
        </section>
    </main>
    <%- include("../partial/footer.ejs") %>