<%- include("../partial/header.ejs") %>
    <div class="container-fluid">
        <div class="row">
            <div class="backg">
                <div class="carddis row">
                    <div class="card" style="width: fit-content;">
                        <div class="card-body">
                            <h1 class="card-title cardtext">Shopping Cart</h1>
                            <h6 class="card-subtitle mb-2 text-muted cardtext">Your Cart</h6>
                            <div class="row ">
                                <div class="card subcarddis" style="width: 42rem; margin: 2% 10%;">
                                    <div class="d-flex">
                                        <img src="..." class="card-img-top" alt="..." width="20%">
                                        <div class="card-body ">
                                            <p class="card-text textdes">
                                                <label>Product Name:</label><br>
                                                <label>Quantity:</label><br>
                                                <label>Product Color:</label><br>
                                                <label>Product Price:</label><br>
                                                <label>Product Description:</label>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="card subcarddis" style="width: 42rem; margin: 2% 10%;">
                                    <div class="d-flex">
                                        <img src="..." class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <p class="card-text textdes">
                                                <label>Product Name:</label><br>
                                                <label>Quantity:</label><br>
                                                <label>Product Color:</label><br>
                                                <label>Product Price:</label><br>
                                                <label>Product Description:</label>

                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="card subcarddis" style="width: 42rem; margin: 2% 10%;">
                                    <div class="d-flex">
                                        <img src="..." class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <p class="card-text textdes">
                                                <label>Product Name:</label><br>
                                                <label>Quantity:</label><br>
                                                <label>Product Color:</label><br>
                                                <label>Product Price:</label><br>
                                                <label>Product Description:</label>

                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex row" style="margin-left: 35%;">
                                    <a href="#" class="card-link col">Card link</a>
                                    <a href="#" class="card-link col-10">Another link</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%- include("../partial/footer.ejs") %>