<%- include("../partial/header.ejs") %>
    <main>
        <!-- product start -->
        <section class="py-5">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card">
                            <img src="/Images/WhatsApp Image 2022-01-22 at 6.40.30 PM.jpeg" class="card-img-top"
                                width="40%" alt="...">
                            <div class="card-body">
                                <h5 class="card-title"> Lotus Wick </h5>
                                <p class="card-text">Lotus stem wicks are prepared from the fiber of lotus stem Lighting
                                    lamp using these lotus wicks will brings you fortune in matters with goddess
                                    mahalakshmi blessings.</p>
                                <a href="/product/abc" class="btn bttn">Know more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <img src="/Images/WhatsApp Image 2022-01-22 at 6.40.31 PM.jpeg" class="card-img-top"
                                width="40%" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Banana Wick title</h5>
                                <p class="card-text">Lotus stem wicks are prepared from the fiber of lotus stem Lighting
                                    lamp using these lotus wicks will brings you fortune in matters with goddess
                                    mahalakshmi blessings.</p>
                                <a href="/product/abc" class="btn bttn">Know more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <img src="/Images/WhatsApp Image 2022-01-22 at 6.40.32 PM.jpeg" class="card-img-top"
                                width="40%" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Lotus Wick</h5>
                                <p class="card-text">Lotus stem wicks are prepared from the fiber of lotus stem Lighting
                                    lamp using these lotus wicks will brings you fortune in matters with goddess
                                    mahalakshmi blessings.</p>
                                <a href="/product/abc" class="btn bttn">Know more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <img src="/Images/WhatsApp Image 2022-01-22 at 6.40.33 PM.jpeg" class="card-img-top"
                                width="40%" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Banana Wick title</h5>
                                <p class="card-text">Lotus stem wicks are prepared from the fiber of lotus stem Lighting
                                    lamp using these lotus wicks will brings you fortune in matters with goddess
                                    mahalakshmi blessings.</p>
                                <a href="/product/abc" class="btn bttn">Know more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <img src="/Images/WhatsApp Image 2022-01-22 at 6.40.34 PM.jpeg" class="card-img-top"
                                width="40%" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Lotus Wick</h5>
                                <p class="card-text">Lotus stem wicks are prepared from the fiber of lotus stem Lighting
                                    lamp using these lotus wicks will brings you fortune in matters with goddess
                                    mahalakshmi blessings.</p>
                                <a href="/product/abc" class="btn bttn">Know more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <img src="/Images/WhatsApp Image 2022-01-22 at 6.40.35 PM.jpeg" class="card-img-top"
                                width="40%" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Banana Wick title</h5>
                                <p class="card-text">Lotus stem wicks are prepared from the fiber of lotus stem Lighting
                                    lamp using these lotus wicks will brings you fortune in matters with goddess
                                    mahalakshmi blessings.</p>
                                <a href="/product/abc" class="btn bttn">Know more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- product end -->

    </main>
    <%- include("../partial/footer.ejs") %>
