<%- include("../partial/header.ejs") %>
    <div class="container-fluid col-sm-6">
        <div class="topbg">
            <div class="heading">
                <p>About Us</p>
            </div>

            <div class="col-sm-6 col subbg">
                <div class="container " style="padding: 2%;">
                    <div class="card">
                        <div class="card-body ">
                            Shubham Karoti Kalyaannam-Aarogyam Dhana-Sampadaa |<br> Shatru-Buddhi-Vinaashaaya Dilipa-Jyotir-Namostute ||
                        </div>
                    </div>

                    <div class="container">
                        <div class="card">
                            <div class="card-body">
                                Shubham Karoti Kalyaannam-Aarogyam Dhana-Sampadaa |<br> Shatru-Buddhi-Vinaashaaya Dilipa-Jyotir-Namostute ||
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="container" style="padding: 1.5%;margin-left:1%;letter-spacing: 3px;">
                    <h3 class="text">About Wink</h3>
                    <div class="display para">
                        <p>The flame of an oil lamp or candle is held by a <br>fuel, which is commonly melted candle <br>into contact with the flame. The <br>burns<br><br> The size of the wick determines<br> flames. If there is too much fuel,<br> if there
                            is not enough fuel ,the<br> in a huge variety of shapes and<br><br>The type of wick you use is determined<br> intended application, the burn time, and <br>correct wick.</p><br><br>
                        <img src="/Images/diyathali.png" class="rounded-circle midimg">
                        <p style="text-align: right; margin-right: 5%;margin-left: 0%;">wick, which is often braided cotton. The liquid<br> wax, evaporates and burns when it comes <br>candle's wick has an impact on how it<br><br>how much fuel is drawn into the <br> the flame will flicker and soot, and <br>flame will
                            fizzle out. Wicks come <br>sizes.<br><br>by a number of criteria, including the<br>the wax or oil used. It's critical to choose the</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <%- include("../partial/footer.ejs") %>