<%- include("../partial/header.ejs") %>
    <div class="containter">
        <div class="row">
            <div class="col ">
                <div class="topbg">
                    <div class="heading">
                        <p>About Us</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col subbg">
                    <div class="container ">
                        <p style="padding: 10%; font-family: cursive; text-align: justify;">Wicks have always been an important element for religious occasions and lighting diyas. These braided cotton threads that are used to hold flames for lamps have been widely produced in the temple town of Pattanam, Madurai, for
                            years. The concept of Appa revolves around bringing these hand-crafted wicks made by traditional wick-makers of Madurai to the rest of the world. What makes Appa wicks different from their competitors is its precise braiding
                            techniques that sustain the wick longer and burn durably with no soot. Each wick when used during holy rituals creates a feeling of peace and purity because of its non-toxic attributes and eco-friendly craftsmanship. These
                            ceremonial wicks are popular amongst the devotees in Pattanam due to their high-quality and unique physical aspects that consist of natural fibres and colours from plant pigments. Appa as a brand aims to make this collection
                            of wicks accessible to all devotees around the world for a fulfilling spiritual experience.
                        </p>

                    </div>
                </div>
            </div>

        </div>
        <%- include("../partial/footer.ejs") %>