<%- include("../partial/header.ejs") %>
    <div class="containter">
        <div class="row">
            <div class="col ">
                <div class="topbg">
                    <div class="heading">
                        <p>About Us</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col subbg">
                    <div class="container ">
                        <div class="card">
                            <div class="card-body ">
                                Shubham Karoti Kalyaannam-Aarogyam Dhana-Sampadaa |<br> Shatru-Buddhi-Vinaashaaya Dilipa-Jyotir-Namostute ||
                            </div>
                        </div>

                        <div class="container">
                            <div class="card">
                                <div class="card-body">
                                    Shubham Karoti Kalyaannam-Aarogyam Dhana-Sampadaa |<br> Shatru-Buddhi-Vinaashaaya Dilipa-Jyotir-Namostute ||
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>


        <div class="row">
            <div class="col">
                <h3 class="text">About Wink</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-5 para ">
                <p>The flame of an oil lamp or candle is held by a fuel, which is commonly melted candle into contact with the flame. The burns The size of the wick determines flames. If there is too much fuel, if there is not enough fuel ,the in a huge
                    variety of shapes and The type of wick you use is determined intended application, the burn time, and correct wick.
                </p>
            </div>
            <div class="col-12 col-md-2">
                <img src="/Images/diyathali.png" class="rounded-circle midimg">
            </div>
            <div class="col-12 col-md-5 para">
                <p style="text-align: right; margin-right: 5%;margin-left: 0%;">wick, which is often braided cotton. The liquid wax, evaporates and burns when it comes candle's wick has an impact on how ithow much fuel is drawn into the the flame will flicker and soot, and flame will fizzle out. Wicks come sizes.by
                    a number of criteria, including the wax or oil used. It's critical to choose the
                </p>
            </div>
        </div>
    </div>


    <%- include("../partial/footer.ejs") %>