<%- include("../partial/header.ejs") %>
    <main>

        <!-- Contact Start -->
        <section>
            <div class="container py-5 Cdetails">
                <form action="">
                    <h2 style="text-align: center;"> Contact Us</h2>
                    <br>
                    <div class="row">
                        <div class="row mb-3">
                            <label for="UNAME" class="col-sm-2 col-form-label"> <b>Name</b></label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control Cdetails" id="UNAME" name="UNAME" placeholder="Full Name" required>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="Uphone" class="col-sm-2 col-form-label"> <b>Phone No </b></label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control Cdetails" id="Uphone" name="Uphone" pattern="[789][0-9]{9}" placeholder="8237373746" required>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="Uemail" class="col-sm-2 col-form-label"> <b>Email </b></label>
                            <div class="col-sm-10">
                                <input type="email" class="form-control Cdetails" id="Uemail" name="Uemail" placeholder="name@example.com" required>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="Umsg" class="col-sm-2 col-form-label"> <b>Enter Message </b></label>
                            <div class="col-sm-10">
                                <textarea class="form-control Cdetails" id="Umsg" name="Umsg" rows="9" placeholder="Message..." required></textarea>
                            </div>
                        </div>
                        <div class="col text-center">
                            <!-- <input type="submit" class="btn-sm" value="Send"> -->
                            <button type="submit" class="btn btn-sm">Send</button>
                            <br>
                        </div>
                    </div>
                </form>
            </div>
        </section>
        <!-- Contact end -->
    </main>
    <%- include("../partial/footer.ejs") %>