<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%- title %>
    </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="/Images/fevicon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/CSS">
    <a href="https://api.whatsapp.com/send?phone=+919210664161" class="float" target="_blank">
        <i class="fa fa-whatsapp my-float"></i>
    </a>
    <script src="/Public/JS/script.js"></script>
</head>

<body>
    <a name="Home"></a>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="/"> <img src="/Images/logo.png" alt="Appa logo" width="90" height="60" class="d-inline-block align-text-top coin "></a>
                <a class="navbar-brand nav-icon1" href="/user"> <i class="fa fa-user fa-7x" style="font-size: 2em; color:blue;"></i></a>
                <a class="navbar-brand nav-icon1" href="/user"> <i class="fa fa-shopping-cart fa-7x" style="font-size: 2em; color:blue;"></i></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                <div class="collapse navbar-collapse nb" id="navbarSupportedContent">
                    <ul class="navbar-nav mx-auto ">
                        <li class="nav-item">
                            <% if(title=="Home - Appa" ) { %>
                                <a class="nav-link active" aria-current="page" href="/">Home</a>
                                <% } else { %>
                                    <a class="nav-link " aria-current="page" href="/">Home</a>
                                    <% } %>
                        </li>
                        <li class="nav-item">
                            <% if(title=="About us - Appa" ) { %>
                                <a class="nav-link active" href="/aboutus">About Us</a>
                                <% } else { %>
                                    <a class="nav-link" href="/aboutus">About Us</a>
                                    <% } %>
                        </li>
                        <li class="nav-item">
                            <% if(title=="Contact us - Appa" ) { %>
                                <a class="nav-link active" href="/contactus">Contact Us</a>
                                <% } else { %>
                                    <a class="nav-link" href="/contactus">Contact Us</a>
                                    <% } %>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="/products/" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Products
                                </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li>
                                    <a class="dropdown-item" href="/product/abc">Wick 1
                                            <span style="padding-right:3px; padding-top: 3px; display:inline-block; ">
                                                <img class="manImg" style="width: 25%;"
                                                    src="/Images/WhatsApp Image 2022-01-22 at 6.40.30 PM.jpeg"></img>
                                            </span>
                                        </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/product/abc">Wick 2
                                            <span style="padding-right:3px; padding-top: 3px; display:inline-block; ">
                                                <img class="manImg" style="width: 25%;"
                                                    src="/Images/WhatsApp Image 2022-01-22 at 6.40.47 PM.jpeg"></img>
                                            </span>
                                        </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/product/abc">Wick 3
                                            <span style="padding-right:3px; padding-top: 3px; display:inline-block; ">
                                                <img class="manImg" style="width: 25%;"
                                                    src="/Images/WhatsApp Image 2022-01-22 at 6.40.32 PM.jpeg"></img>
                                            </span>
                                        </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/product/abc">Wick 4
                                            <span style="padding-right:3px; padding-top: 3px; display:inline-block; ">
                                                <img class="manImg" style="width: 25%;"
                                                    src="/Images/WhatsApp Image 2022-01-22 at 6.40.47 PM.jpeg"></img>
                                            </span>
                                        </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/product/abc">Wick 5
                                            <span style="padding-right:3px; padding-top: 3px; display:inline-block; ">
                                                <img class="manImg" style="width: 25%;"
                                                    src="/Images/WhatsApp Image 2022-01-22 at 6.40.30 PM.jpeg"></img>
                                            </span>
                                        </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                        </li>
                    </ul>
                    <a class="navbar-brand nav-icon2" href="/user"> <i class="fa fa-user fa-7x" style="font-size: 2em; color:blue;"></i></a>
                </div>
                <div>
                    <!-- <%  if(User==true) { %> -->
                    <!-- <div class="btn-group">
                            <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" style="margin-right: 5em;">User</button>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li><a class="dropdown-item" href="/profile">Profile</a></li>
                                <li><a class="dropdown-item" href="/LogOut">Sign out</a></li>
                            </ul>
                        </div> -->
                    <!-- <% } if(User==false) { %> -->

                    <!-- <a class="navbar-brand nav-icon2" href="/car6
                                .t"> <i class="fa fa-shopping-cart fa-7x" style="font-size: 2em; color:blue;"></i></a> -->
                    <!-- <% } %> -->
                </div>
            </div>
        </nav>
    </header>
    <main>
        <!-- carasol start -->
        <section>
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="/Images/carousel-1.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Lotus Wick</h5>
                            <p>Appa, Eco friendly and handmade wicks crafted by the natives of madurai that awakens the spiritual connection between devotees and devotion.</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="/Images/carousel-2.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Banana Wick </h5>
                            <p>Appa, Eco friendly and handmade wicks crafted by the natives of madurai that awakens the spiritual connection between devotees and devotion.</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="/Images/carousel-1.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Lotus Wick</h5>
                            <p>Appa, Eco friendly and handmade wicks crafted by the natives of madurai that awakens the spiritual connection between devotees and devotion.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- carsol end -->

        <!-- product start -->
        <section class="py-5">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6 col-lg-4">
                        <div class="card-shadow">
                            <img src="/Images/WhatsApp Image 2022-01-22 at 6.40.30 PM.jpeg" class="card-img-top" width="40%" alt="...">
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">White Madar Wicks</h5>
                                <p class="card-text justify">
                                    Our White Madar Wicks are a symbolic element during holy rituals that invokes the blessings of Lord Ganesha to remove all obstacles in life. With a unique blend of small fibres from white madar plants and the craftsmanship of traditional wick-makers,
                                    such durable wicks are perfect for your next Ganesh Chaturthi. These high-quality wicks are available in packs of 10 and 20.
                                </p>
                                <a href="/product/abc" class="btn bttn">Know more</a>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-md-6 col-lg-4">
                        <div class="card card-shadow">
                            <img src="/Images/WhatsApp Image 2022-01-22 at 6.40.31 PM.jpeg" class="card-img-top" width="40%" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Banana Wick title</h5>
                                <p class="card-text justify">
                                    Locally known as Vazhaithandu Thiri in Madurai, our banana stem wicks are made by weaving fibres of banana stem through an extensive hand-drawing process by master craftsmen. The next time you decide to light diyas for clearing bad karma and obstacles
                                    out of your way, these banana stem wicks will be the perfect element for such a blissful occassion. Our banana stem wicks are available in packs of 10 and 20.
                                </p>
                                <a href="/product/abc" class="btn bttn">Know more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="card card-shadow">
                            <img src="/Images/WhatsApp Image 2022-01-22 at 6.40.32 PM.jpeg" class="card-img-top" width="40%" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Lotus Stem Wicks</h5>
                                <p class="card-text justify">Natural fibres extracted from the stalks of lotus flowers are handwoven to produce these durable wicks. Essentially used for worshipping the Hindu Goddesses - Lakshmi and Saraswati, these lotus stem wicks are perfect for
                                    lighting diyas to bring good fortunes and abundance in the house. Our lotus stem wicks are available in a variety of natural colours that comes in packs of 10 and 20.</p>
                                <a href="/product/abc" class="btn bttn">Know more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="card card-shadow">
                            <img src="/Images/WhatsApp Image 2022-01-22 at 6.40.33 PM.jpeg" class="card-img-top" width="40%" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Banana Wick title</h5>
                                <p class="card-text justify">Lotus stem wicks are prepared from the fiber of lotus stem Lighting lamp using these lotus wicks will brings you fortune in matters with goddess mahalakshmi blessings.</p>
                                <a href="/product/abc" class="btn bttn">Know more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="card card-shadow">
                            <img src="/Images/WhatsApp Image 2022-01-22 at 6.40.34 PM.jpeg" class="card-img-top" width="40%" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Lotus Wick</h5>
                                <p class="card-text justify">Lotus stem wicks are prepared from the fiber of lotus stem Lighting lamp using these lotus wicks will brings you fortune in matters with goddess mahalakshmi blessings.</p>
                                <a href="/product/abc" class="btn bttn">Know more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="card card-shadow">
                            <img src="/Images/WhatsApp Image 2022-01-22 at 6.40.35 PM.jpeg" class="card-img-top" width="40%" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Banana Wick title</h5>
                                <p class="card-text justify">Lotus stem wicks are prepared from the fiber of lotus stem Lighting lamp using these lotus wicks will brings you fortune in matters with goddess mahalakshmi blessings.</p>
                                <a href="/product/abc" class="btn bttn">Know more</a>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </section>
        <!-- product end -->

    </main>
    <footer class="footer">
        <div class="container text-center">
            <a href="/" target="_blank"><i class="fa fa-facebook"></i></a>
            <a href="/" target="_blank"><i class="fa fa-twitter"></i></a>
            <a href="/" target="_blank"><i class="fa fa-linkedin"></i></a>
            <a href="/" target="_blank"><i class="fa fa-instagram"></i></a>
            <p>© 2022, Appa </p>
        </div>
    </footer>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</html>