<%- include("../partial/header.ejs") %>
    <main>
        <!-- carasol start -->
        <section>
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="/Images/carousel-1.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Lotus Wick</h5>
                            <p>Appa, Eco friendly and handmade wicks crafted by the natives of madurai that awakens the spiritual connection between devotees and devotion.</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="/Images/carousel-2.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Banana Wick </h5>
                            <p>Appa, Eco friendly and handmade wicks crafted by the natives of madurai that awakens the spiritual connection between devotees and devotion.</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="/Images/carousel-1.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Lotus Wick</h5>
                            <p>Appa, Eco friendly and handmade wicks crafted by the natives of madurai that awakens the spiritual connection between devotees and devotion.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- carsol end -->

        <!-- product start -->
        <section class="py-5">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6 col-lg-4">
                        <div class="card card-shadow">
                            <img src="/Images/WhatsApp Image 2022-01-22 at 6.40.30 PM.jpeg" class="card-img-top" width="40%" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">White Madar Wicks</h5>
                                <p class="card-text">Our White Madar Wicks are a symbolic element during holy rituals that invokes the blessings of Lord Ganesha to remove all obstacles in life. With a unique blend of small fibres from white madar plants and the craftsmanship
                                    of traditional wick-makers, such durable wicks are perfect for your next Ganesh Chaturthi. These high-quality wicks are available in packs of 10 and 20.</p>
                                <a href="/product/abc" class="btn bttn">Know more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="card card-shadow">
                            <img src="/Images/WhatsApp Image 2022-01-22 at 6.40.31 PM.jpeg" class="card-img-top" width="40%" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Banana Wick title</h5>
                                <p class="card-text">
                                    Locally known as Vazhaithandu Thiri in Madurai, our banana stem wicks are made by weaving fibres of banana stem through an extensive hand-drawing process by master craftsmen. The next time you decide to light diyas for clearing bad karma and obstacles
                                    out of your way, these banana stem wicks will be the perfect element for such a blissful occassion. Our banana stem wicks are available in packs of 10 and 20.
                                </p>
                                <a href="/product/abc" class="btn bttn">Know more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="card card-shadow">
                            <img src="/Images/WhatsApp Image 2022-01-22 at 6.40.32 PM.jpeg" class="card-img-top" width="40%" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Lotus Stem Wicks</h5>
                                <p class="card-text">Natural fibres extracted from the stalks of lotus flowers are handwoven to produce these durable wicks. Essentially used for worshipping the Hindu Goddesses - Lakshmi and Saraswati, these lotus stem wicks are perfect for
                                    lighting diyas to bring good fortunes and abundance in the house. Our lotus stem wicks are available in a variety of natural colours that comes in packs of 10 and 20.</p>
                                <a href="/product/abc" class="btn bttn">Know more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="card card-shadow">
                            <img src="/Images/WhatsApp Image 2022-01-22 at 6.40.33 PM.jpeg" class="card-img-top" width="40%" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Banana Wick title</h5>
                                <p class="card-text">Lotus stem wicks are prepared from the fiber of lotus stem Lighting lamp using these lotus wicks will brings you fortune in matters with goddess mahalakshmi blessings.</p>
                                <a href="/product/abc" class="btn bttn">Know more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="card card-shadow">
                            <img src="/Images/WhatsApp Image 2022-01-22 at 6.40.34 PM.jpeg" class="card-img-top" width="40%" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Lotus Wick</h5>
                                <p class="card-text">Lotus stem wicks are prepared from the fiber of lotus stem Lighting lamp using these lotus wicks will brings you fortune in matters with goddess mahalakshmi blessings.</p>
                                <a href="/product/abc" class="btn bttn">Know more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="card card-shadow">
                            <img src="/Images/WhatsApp Image 2022-01-22 at 6.40.35 PM.jpeg" class="card-img-top" width="40%" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Banana Wick title</h5>
                                <p class="card-text">Lotus stem wicks are prepared from the fiber of lotus stem Lighting lamp using these lotus wicks will brings you fortune in matters with goddess mahalakshmi blessings.</p>
                                <a href="/product/abc" class="btn bttn">Know more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- product end -->

    </main>
    <%- include("../partial/footer.ejs") %>