<%- include("../partial/header.ejs") %>
    <main>
        <section>
            <div class="container-fluid">
                <div class="container content">
                    <div class="column">
                        <div class="row">
                            <div class="col-md-7">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores, iste aspernatur quidem repellendus labore ex ut praesentium necessitatibus impedit nam!
                                    laboriosam eligendi beatae nihil perspiciatis eveniet vitae impedit voluptatum dicta, mollitia necessitatibus magnam rerum suscipit accusantium libero ipsa eaque officiis distinctio! Lorem ipsum dolor sit amet consectetur,
                                    adipisicing elit. Quo facere, vitae illum error eligendi id ullam autem explicabo odio cum.
                                </p>
                            </div>
                            <div class="col-md-3">
                                <img src="/Images/1.jpg" alt="" class="image">
                            </div>
                            <div class="col-md-7">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores, iste aspernatur quidem repellendus labore ex ut praesentium necessitatibus impedit nam!
                                    laboriosam eligendi beatae nihil perspiciatis eveniet vitae impedit voluptatum dicta, mollitia necessitatibus magnam rerum suscipit accusantium libero ipsa eaque officiis distinctio! Lorem ipsum dolor sit amet consectetur,
                                    adipisicing elit. Quo facere, vitae illum error eligendi id ullam autem explicabo odio cum.
                                </p>
                            </div>
                            <div class="col-md-3">
                                <img src="/Images/1.jpg" alt="" class="image">
                            </div>
                            <div class="col-md-7">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores, iste aspernatur quidem repellendus labore ex ut praesentium necessitatibus impedit nam!
                                    laboriosam eligendi beatae nihil perspiciatis eveniet vitae impedit voluptatum dicta, mollitia necessitatibus magnam rerum suscipit accusantium libero ipsa eaque officiis distinctio! Lorem ipsum dolor sit amet consectetur,
                                    adipisicing elit. Quo facere, vitae illum error eligendi id ullam autem explicabo odio cum.
                                </p>
                            </div>
                            <div class="col-md-3">
                                <img src="/Images/1.jpg" alt="" class="image">
                            </div>
                            <div class="col-md-7">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores, iste aspernatur quidem repellendus labore ex ut praesentium necessitatibus impedit nam!
                                    laboriosam eligendi beatae nihil perspiciatis eveniet vitae impedit voluptatum dicta, mollitia necessitatibus magnam rerum suscipit accusantium libero ipsa eaque officiis distinctio! Lorem ipsum dolor sit amet consectetur,
                                    adipisicing elit. Quo facere, vitae illum error eligendi id ullam autem explicabo odio cum.
                                </p>
                            </div>
                            <div class="col-md-3">
                                <img src="/Images/1.jpg" alt="" class="image">
                            </div>
                            <div class="col-md-7">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores, iste aspernatur quidem repellendus labore ex ut praesentium necessitatibus impedit nam!
                                    laboriosam eligendi beatae nihil perspiciatis eveniet vitae impedit voluptatum dicta, mollitia necessitatibus magnam rerum suscipit accusantium libero ipsa eaque officiis distinctio! Lorem ipsum dolor sit amet consectetur,
                                    adipisicing elit. Quo facere, vitae illum error eligendi id ullam autem explicabo odio cum.
                                </p>
                            </div>
                            <div class="col-md-3">
                                <img src="/Images/1.jpg" alt="" class="image">
                            </div>
                            <div class="col-md-7">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores, iste aspernatur quidem repellendus labore ex ut praesentium necessitatibus impedit nam!
                                    laboriosam eligendi beatae nihil perspiciatis eveniet vitae impedit voluptatum dicta, mollitia necessitatibus magnam rerum suscipit accusantium libero ipsa eaque officiis distinctio! Lorem ipsum dolor sit amet consectetur,
                                    adipisicing elit. Quo facere, vitae illum error eligendi id ullam autem explicabo odio cum.
                                </p>
                            </div>
                            <div class="col-md-3">
                                <img src="/Images/1.jpg" alt="" class="image">
                            </div>
                        </div>
                    </div>
                </div>
        </section>
    </main>
    <%- include("../partial/footer.ejs") %>