<%- include("../partial/header.ejs") %>
    <main>
        <!-- carasol start -->
        <section>
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="/Images/carousel-1.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Lotus Wick</h5>
                            <p>Lighting lamp using these lotus wicks will brings you fortune in matters with goddess mahalakshmi blessings.</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="/Images/carousel-2.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Banana Wick </h5>
                            <p>Lighting lamp using these Banana Stem wicks/ Vazaithandu Thiri / Aratikandam Vathulu / Kele Tane Bathi for your daily puja needs</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="/Images/carousel-1.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Lotus Wick</h5>
                            <p>Lighting lamp using these lotus wicks will brings you fortune in matters with goddess mahalakshmi blessings.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- carsol end -->

        <!-- product start -->
        <section class="py-5">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6 col-lg-4">
                        <div class="card card-shadow">
                            <img src="/Images/WhatsApp Image 2022-01-22 at 6.40.30 PM.jpeg" class="card-img-top" width="40%" alt="...">
                            <div class="card-body">
                                <h5 class="card-title"> Lotus Wick </h5>
                                <p class="card-text">Lotus stem wicks are prepared from the fiber of lotus stem Lighting lamp using these lotus wicks will brings you fortune in matters with goddess mahalakshmi blessings.</p>
                                <a href="/product/abc" class="btn bttn">Know more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="card card-shadow">
                            <img src="/Images/WhatsApp Image 2022-01-22 at 6.40.31 PM.jpeg" class="card-img-top" width="40%" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Banana Wick title</h5>
                                <p class="card-text">Lotus stem wicks are prepared from the fiber of lotus stem Lighting lamp using these lotus wicks will brings you fortune in matters with goddess mahalakshmi blessings.</p>
                                <a href="/product/abc" class="btn bttn">Know more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="card card-shadow">
                            <img src="/Images/WhatsApp Image 2022-01-22 at 6.40.32 PM.jpeg" class="card-img-top" width="40%" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Lotus Wick</h5>
                                <p class="card-text">Lotus stem wicks are prepared from the fiber of lotus stem Lighting lamp using these lotus wicks will brings you fortune in matters with goddess mahalakshmi blessings.</p>
                                <a href="/product/abc" class="btn bttn">Know more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="card card-shadow">
                            <img src="/Images/WhatsApp Image 2022-01-22 at 6.40.33 PM.jpeg" class="card-img-top" width="40%" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Banana Wick title</h5>
                                <p class="card-text">Lotus stem wicks are prepared from the fiber of lotus stem Lighting lamp using these lotus wicks will brings you fortune in matters with goddess mahalakshmi blessings.</p>
                                <a href="/product/abc" class="btn bttn">Know more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="card card-shadow">
                            <img src="/Images/WhatsApp Image 2022-01-22 at 6.40.34 PM.jpeg" class="card-img-top" width="40%" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Lotus Wick</h5>
                                <p class="card-text">Lotus stem wicks are prepared from the fiber of lotus stem Lighting lamp using these lotus wicks will brings you fortune in matters with goddess mahalakshmi blessings.</p>
                                <a href="/product/abc" class="btn bttn">Know more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="card card-shadow">
                            <img src="/Images/WhatsApp Image 2022-01-22 at 6.40.35 PM.jpeg" class="card-img-top" width="40%" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Banana Wick title</h5>
                                <p class="card-text">Lotus stem wicks are prepared from the fiber of lotus stem Lighting lamp using these lotus wicks will brings you fortune in matters with goddess mahalakshmi blessings.</p>
                                <a href="/product/abc" class="btn bttn">Know more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- product end -->

    </main>
    <%- include("../partial/footer.ejs") %>