<%- include("../partial/header.ejs") %>
    <main>
        <section>
            <div class="container-fluid ">
                <div class="row">
                    <form action="/Admin/Product/Add" method="post">
                        <button class="openbtn" onclick="openNav()">☰ Open Sidebar</button>
                        <div class="row">
                            <div class="row">
                                <div class="col-12 col-md-6">
                                    <label for="pname" class="col-sm-4 col-form-label"><b>Product Name : </b></label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="pname" name="pname" placeholder="Lotus Wick" required>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <label for="pdescription" class="col-sm-4 col-form-label"><b>Product Discrption : </b></label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="pdescription" name="pdescription" placeholder="About" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-md-6">
                                    <label for="pprice" class="col-sm-4 col-form-label"><b>Product Price : </b></label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="pprice" name="pprice" placeholder="Rs. 100" required>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <label for="pquantity" class="col-sm-4 col-form-label"><b>Quantity :</b></label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="pquantity" name="pquantity" placeholder="10" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-md-6">
                                    <label for="pcolor" class="col-sm-4 col-form-label"><b>Product Color :</b></label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="pcolor" name="pcolor" placeholder="red" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col text-center">
                            <!-- <input type="submit" class="btn-sm" value="Send"> -->
                            <button type="submit" class="btn-sm ">Save</button>
                            <br>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </main>
    <%- include("../partial/footer.ejs") %>