<%- include('../partial/header.ejs') %>
    <main>
        <section>
            <div class="container">
                <div class="card text-left">
                    <div class="row">
                        <div class="col-12 col-md-3">
                            <img class="card-img-top" src="holder.js/100px180/" alt="Product_Img">
                        </div>
                        <div class="col-12 col-md-9">
                            <div class="card-body">
                                <h4 class="card-title">Title</h4>
                                <p class="card-text">Body</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <%- include('../partial/footer.ejs') %>